  body {
      font-family:Georgia, 'Times New Roman', Times, serif;
     background-image: url(../images/back9.jpg);
     background-position: center;
      margin: 0;
      padding: 0;
    }
    header {
        background: #4a2523;
      color: white;
      padding: 15px;
      text-align: center;
    }
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      flex-direction: column;
    }
    .form-box {
       background-image: url(../images/melissa.jpg);
       background-position: center;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      width: 400px;
      margin-bottom: 30px;
    }
    .form-box h2,p,h1 {
      text-align: center;
      color: #7a04f0;
      font-weight: bolder;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    label {
      display: block;
      margin-top: 12px;
      font-weight: bolder;
      color:#7a04f0;
    }
    input {
      width: 100%;
      padding: 10px;
      margin-top: 6px;
      border: 2px solid #0c0101;
      border-radius: 6px;
       box-shadow: 0 4px 6px rgba(97, 4, 245, 0.1);
}
    
    button {
      margin-top: 15px;
      width: 100%;
      padding: 12px;
      background-color: #eb882c;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background-color: #fe7e06;
    }
    table {
      border-collapse: collapse;
      width: 80%;
      background: white;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    table, th, td {
      border: 2px solid #0b0000;
      padding: 10px;
      text-align: center;
    }
    .table, h2{
color: #7a04f0;
    }
    th {
      background-color: #120801;
      color: white;
    }
    .action-btn {
      padding: 2px 3px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .remove-btn {
      background-color: crimson;
      color: white;
      padding:4px;
    }
    .remove-btn:hover {
      background-color: darkred;
    }
    .edit-btn {
      background-color: #fca607;
      color: white;
      margin-right: 5px;
    }
    .edit-btn:hover {
      background-color: #f18c10;
    }