body {
  background-image: url(../images/back3.jpg);
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header */
header {
  background: #4a2c2a;
  color: white;
  text-align: center;
  padding: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.hero .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color:white;
}

/* Button */
.btn {
  display: inline-block;
  background: #ff914d;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: background 0.3s;
}

.btn:hover {
  background: #ff6a00;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #080000;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f41804;
}


/* Forms */
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1000px;
}

.form-box {
  flex: 1;
  background-image: url(../images/2.jpg);
  padding: 4rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(7, 0, 0, 0.1);
}

.form-box h2 {
  margin-bottom: 1rem;
  color: #5d03ec;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bolder;
}

form input,
form select {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid #080000;
  border-radius: 8px;
}

form button {
  margin-top: 1.5rem;
  width: 100%;
}


/* Navigation */
/* nav {
  background: #542d2a;
} */

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: rgb(210, 6, 6);
  padding: 0.7rem 1rem;
  border-radius: 8px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #ff914d;
  color: #fff;
}

/* Dashboard */
.dashboard {
  padding: 2rem;
  text-align: center;
}

.dashboard h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2012f1;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Inventory Page */
.inventory-page {
  padding: 2rem;
}

.inventory-page h2 {
  margin-bottom: 1rem;
  color: #faf8f8;
  text-align: center;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
  background: #f8d8d8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 2px solid #0b0000;
  padding: 0.8rem;
  text-align: center;
}

th {
  background: #eb9494;
  color: white;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

.add-btn {
  text-align: center;
  margin-top: 1.5rem;
}


.form-box {
  max-width: 500px;
  margin: auto;
}


.stock-page {
  padding: 2rem;
}

.stock-page h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #fdf9f9;
}

/* Highlight low stock items */
.low-stock {
  background-color: #eb9494;
  /* light red */
  color: #900;
  /* dark red text */
  font-weight: bold;
}


/* Attendant Page */
.attendant-page {
  padding: 2rem;
  text-align: center;
}

.attendants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.attendant-card {
  background: #eab9b9;
  padding: 1rem;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(15, 0, 0, 0.977);
  text-align: center;
  transition: transform 0.1s;
}

.attendant-card:hover {
  transform: scale(1.02);
}

.attendant-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.attendant-card h3 {
  margin-bottom: 0.5rem;
  color: #3606f5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}


/* Logout Page */
.logout-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.logout-page h1 {
  color: #f8f2f2;
  margin-bottom: 1rem;
}

/* delete*/
.delete-btn {
  background: #ec2019;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.delete-btn:hover {
  background: #c9302c;
}


/*edit-btn*/
.edit-btn {
  background: #0e0201;
  color: white;
  border: none;
  padding: 0.4rem 1.0rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 3px;
}

.edit-btn:hover {
  background: #c9302c;
}

.remove-btn {
  background-color: rgb(8, 0, 2);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 3px;
}

.remove-btn:hover {
  background-color: rgb(237, 27, 27);
}

/*manage attendant button*/
  .dashboard-btn {
    background-color: #070a00;
    color:white;
    padding: 25px 25px;
    border: none;
    border-radius: 8px;
    text-align:center;
    font-size: 16px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s ease;
  }
  .dashboard-btn:hover {
    background-color: #ec5527;
  }

  