body {
  background-image: url(../images/back9.jpg);
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header */
header {
  background: -o-linear-gradient(135deg,#4E342E,#6D4C41,#A1887F);
  color:#fff;
  text-align: center;
  padding: 10px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
header p{
  color:#04f004;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  
}
/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.logo img {
  width: 800px;
  height: 600px;
display:block;
margin: 0 auto 10px auto;  
}

.hero .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color:white;
}

/* Gallery Layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

/* Card Styling */
.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

/* Card Images */
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}


/* Button */
.btn {
  display: inline-block;
  background: #ff914d;
  color: rgb(19, 1, 1);
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.3rem;
  transition: background 0.3s;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.btn:hover {
  background: #ff6a00;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #090000;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Forms */
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1000px;
   transition: transform 0.1s;
    transform: scale(1.03);
}

.form-box {
  flex: 1;
  background-image: url(../images/back9.jpg);
  background-position: center;
  padding: 4rem;
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(7, 0, 0, 0.1);
}

.form-box h2 {
  margin-bottom: 1rem;
  color: #04f01c;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bolder;
  color:#04eb4a
}

form input,
form select {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 2px solid #080000;
  border-radius: 10px;
}

form button {
  margin-top: 1.5rem;
  width: 100%;
}


/* Navigation */
/* nav {
  background: #542d2a;
} */

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #04f024;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #ff914d;
  color: #fff;
}

/* Dashboard */
.dashboard {
  padding: 2rem;
  text-align: center;
}

.dashboard h2,h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #18f004;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Inventory Page */
.inventory-page {
  padding: 2rem;
}

.inventory-page h2 {
  margin-bottom: 1rem;
  color: #10f204;
  text-align: center;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
  background-color:rgb(245, 205, 205);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 2px solid #0b0000;
  padding: 0.8rem;
  text-align: center;
}
th {
  color: rgb(2, 18, 0);
}
.add-btn {
  text-align: center;
  margin-top: 1.5rem;
}


.form-box {
  max-width: 500px;
  margin: auto;
}


.stock-page {
  padding: 2rem;
}

.stock-page h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #22f506;
}

/* Highlight low stock items */
.low-stock {
  background-color: #eb9494;
  /* light red */
  color: #900;
  /* dark red text */
  font-weight: bold;
}


/* Attendant Page */
.attendant-page {
  padding: 2rem;
  text-align: center;
}

.attendants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.attendant-card {
  background: #eab9b9;
  padding: 1rem;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 20px 20px rgba(15, 5, 0, 0.977);
  text-align: center;
  transition: transform 0.1s;
}

.attendant-card:hover {
  transform: scale(1.03);
}

.attendant-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.attendant-card h3,p,h2 {
  margin-bottom: 0.5rem;
  color: #04f804;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}


/* Logout Page */
.logout-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.logout-page h1 {
  color: #35ec08;
  margin-bottom: 1rem;
}

/* delete*/
.delete-btn {
  background: #ec2019;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.delete-btn:hover {
  background: #c9302c;
}


/*edit-btn*/
.edit-btn {
  background: #0e0201;
  color: white;
  border: none;
  padding: 0.4rem 1.0rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 3px;
}

.edit-btn:hover {
  background: #c9302c;
}

.remove-btn {
  background-color: rgb(8, 0, 2);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 3px;
}

.remove-btn:hover {
  background-color: rgb(237, 27, 27);
}

/*manage attendant button*/
  .dashboard-btn {
    background-color: #070a00;
    color:white;
    padding: 25px 25px;
    border: none;
    border-radius: 8px;
    text-align:center;
    font-size: 16px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s ease;
  }
  .dashboard-btn:hover {
    background-color: #ec5527;
  }

  