doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Add Stock | Mayondo Wood &amp; Furniture
  link(rel='stylesheet' href='/CSS/style.css')
header
  h1 Add Stock
  nav
    ul.nav-links
      li
        a(href='/stock') View Stock
      li
        a(href='/attendant-dashboard') Dashboard
      li
        a(href='/logout') Logout
main
  // ✅ Add Stock Form
  .form-box
    h2 New Stock Entry
    form#stockForm(action='/add-stock' method='post')
      label(for='productName') Product Name
      input#productName(type='text' name='productname' required='')
      label(for='productType') Product Type
      input#productType(type='text' name='producttype' required='')
      label(for='costPrice') Cost Price
      input#costPrice(type='number' name='costprice ' required='')
      label(for='salePrice') Sale Price
      input#salePrice(type='number' name='saleprice' required='')
      label(for='quantity') Quantity
      input#quantity(type='number' name='quantity' required='')
      .add-btn
         button.btn(type='submit') &#x2795; Add Stock
footer
  p &copy; 2025 Mayondo Wood &amp; Furniture Ltd
