doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Add Product | Mayondo Wood & Furniture
    link(rel='stylesheet' href='/CSS/style.css')
  body
    header
      h1 Add New Product
      nav
        ul.nav-links
          li
            a(href='/admin-dashboard') Dashboard
          li
            a(href='/inventory') Inventory
          li
            a(href='/sales') Sales
          li
            a(href='/stock') Stock
          li
            a(href='/logout') Logout
    main.form-container
      .form-box
        h2 Enter Product Details
        form#productForm(onsubmit='saveProduct(); return false;' action='/add-product' method='post')
          label(for='productName') Product Name:
          input#productName(type='text' name='product' required='')
          label(for='productType') Product Type:
          select#productType(required='' name='producttype')
            option(value='') --Select--
            option(value='Wood') Wood
            option(value='Furniture') Furniture
          label(for='costPrice') Cost Price:
          input#costPrice(type='number' name='costprice' required='')
          label(for='salePrice') Sale Price:
          input#salePrice(type='number' name='saleprice' required='')
          label(for='quantity') Quantity:
          input#quantity(type='number' name='quantity' required='')
          label(for='supplier') Supplier:
          input#supplier(type='text' name='supplier' required='')
          label(for='date') Date Added:
          input#date(type='date' name='dateadded' required='')
          button.btn(type='submit' name='submit') Save Product
    footer
      p &copy; 2025 Mayondo Wood & Furniture Ltd
    script(src='/js/add-product.js')
    script(src='/js/script.js')
