doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Admin Dashboard | Mayondo Wood &amp; Furniture
  link(rel='stylesheet' href='/CSS/style.css')
header
  h1 Administrator Dashboard
  nav
    ul.nav-links
      li
        a(href='/inventory') Inventory
      li
        a(href='/add-product') Add Products
      li
        a(href='/sales') Sales
      li
        a(href='/stock') Stock
      li
        a(href='/logout') Logout
main.dashboard
  h2 Welcome, Administrator
  p Use the navigation menu to manage products, sales, and stock.
footer
  p &copy; 2025 Mayondo Wood &amp; Furniture Ltd
script(src='/js/script.js')
