doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Welcome | Mayondo Wood &amp; Furniture
  link(rel='stylesheet' href='/public/CSS/style.css')
header
  h1 Mayondo Wood &amp; Furniture
  p Quality Wood &amp; Furniture for Homes, Offices &amp; Construction
  .logo
    img(src='/public/images/mayondaimg.png' alt='MWF Showroom')
section.hero
  .card-content
    h2 Welcome to Our Showroom
    p Explore premium furniture and wood products tailored for your needs.
    a.btn(href='login.html') Get Started
section.gallery
  .card
    img(src='/public/images/bookshelf.jpg' alt='Bookshelf')
  .card
    img(src='/public/images/book shelf 3.jpg' alt='Bookshelf')
  .card
    img(src='/public/images/bookshelf1.jpg' alt='Bookshelf')
  .card
    img(src='/public/images/bookshelf4.jpeg' alt='Bookshelf')
  .card
    img(src='/public/images/chair 3.jpg ' alt='Chair')
  .card
    img(src='/public/images/chair.jpg' alt='Chair')
  .card
    img(src='/public/images/chair1.jpg' alt='Chair')
  .card
    img(src='/public/images/chair10.jpg' alt='Chair')
  .card
    img(src='/public/images/chair11.jpeg' alt='Chair')
  .card
    img(src='/public/images/chair4.jpg' alt='Chair')
  .card
    img(src='/public/images/chair5.jpg' alt='Chair')
  .card
    img(src='/public/images/chair7.jpg' alt='Chair')
  .card
    img(src='/public/images/chair6.jpg' alt='Chair')
  .card
    img(src='/public/images/chairs 9.jpg' alt='Chair')
  .card
    img(src='/public/images/coffee table.jpg' alt='Coffee')
  .card
    img(src='/public/images/coffee.jpg' alt='Coffee')
  .card
    img(src='/public/images/cupboard1.jpeg' alt='Cupboard')
  .card
    img(src='/public/images/cupboard2.jpeg' alt='Cupboard')
  .card
    img(src='/public/images/cupboard3.jpeg' alt='Cupboard')
  .card
    img(src='/public/images/cupboard4.jpeg' alt='Cupboard')
  .card
    img(src='/public/images/dinning 1.jpg' alt='Dinning')
  .card
    img(src='/public/images/dinning4.jpg' alt='Dinning')
  .card
    img(src='/public/images/knifehandler.gif' alt='knifehandler')
  .card
    img(src='/public/images/bed a.jpg' alt='Bed')
  .card
    img(src='/public/images/bed b.jpg' alt='Bed')
  .card
    img(src='/public/images/bed17.jpg' alt='Bed')
  .card
    img(src='/public/images/hang.jpg' alt='Hang')
  .card
    img(src='/public/images/office.jpeg' alt='Office')
  .card
    img(src='/public/images/office1.jpeg' alt='Office')
  .card
    img(src='/public/images/office3.jpg' alt='Office')
  .card
    img(src='/public/images/office7.webp' alt='Office')
  .card
    img(src='/public/images/office8.jpeg' alt='Office')
  .card
    img(src='/public/images/shoe 2.jpg 2.jpg' alt='Shoe')
  .card
    img(src='images/shoe 3.jpg' alt='Shoe')
  .card
    img(src='/public/images/shoe 3.jpg' alt='Shoe')
  .card
    img(src='/public/images/shoe 4.jpg' alt='Shoe')
  .card
    img(src='/public/images/timber 1.jpg' alt='Timber')
  .card
    img(src='/public/images/timber 2.jpg' alt='Timber')
  .card
    img(src='/public/images/timber 3.jpeg 4.jpeg' alt='Timber')
  .card
    img(src='/public/images/timber 4.jpeg 5.jpg' alt='Timber')
footer
  p &copy; 2025 Mayondo Wood &amp; Furniture Ltd
script(src='/public/js/script.js')
