doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Welcome | Mayondo Wood &amp; Furniture
  link(rel='stylesheet' href='/CSS/style.css')
header
  h1 Mayondo Wood &amp; Furniture
  p Quality Wood &amp; Furniture for Homes, Offices &amp; Construction
  .logo
    img(src='/images/mayondologo.png' alt='MWF Showroom')
section.hero
  .card-content
    h2 Welcome to Our Showroom
    p Explore premium furniture and wood products tailored for your needs.
    a.btn(href='login.html') Get Started
section.gallery
  .card
    img(src='/images/bookshelf.jpg' alt='Bookshelf')
  .card
    img(src='/images/book shelf 3.jpg' alt='Bookshelf')
  .card
    img(src='/images/bookshelf1.jpg' alt='Bookshelf')
  .card
    img(src='/images/bookshelf4.jpeg' alt='Bookshelf')
  .card
    img(src='/images/chair 3.jpg ' alt='Chair')
  .card
    img(src='/images/chair.jpg' alt='Chair')
  .card
    img(src='/images/chair1.jpg' alt='Chair')
  .card
    img(src='/images/chair10.jpg' alt='Chair')
  .card
    img(src='/images/chair11.jpeg' alt='Chair')
  .card
    img(src='/images/chair4.jpg' alt='Chair')
  .card
    img(src='/images/chair5.jpg' alt='Chair')
  .card
    img(src='/images/chair7.jpg' alt='Chair')
  .card
    img(src='/images/chair6.jpg' alt='Chair')
  .card
    img(src='/images/chairs 9.jpg' alt='Chair')
  .card
    img(src='/images/coffee table.jpg' alt='Coffee')
  .card
    img(src='/images/coffee.jpg' alt='Coffee')
  .card
    img(src='/images/cupboard1.jpeg' alt='Cupboard')
  .card
    img(src='/images/cupboard2.jpeg' alt='Cupboard')
  .card
    img(src='/images/cupboard3.jpeg' alt='Cupboard')
  .card
    img(src='/images/cupboard4.jpeg' alt='Cupboard')
  .card
    img(src='/images/dinning 1.jpg' alt='Dinning')
  .card
    img(src='/images/dinning4.jpg' alt='Dinning')
  .card
    img(src='/images/knifehandler.gif' alt='knifehandler')
  .card
    img(src='/images/bed a.jpg' alt='Bed')
  .card
    img(src='/images/bed b.jpg' alt='Bed')
  .card
    img(src='/images/bed17.jpg' alt='Bed')
  .card
    img(src='/images/hang.jpg' alt='Hang')
  .card
    img(src='/images/office.jpeg' alt='Office')
  .card
    img(src='/images/office1.jpeg' alt='Office')
  .card
    img(src='/images/office3.jpg' alt='Office')
  .card
    img(src='/images/office7.webp' alt='Office')
  .card
    img(src='/images/office8.jpeg' alt='Office')
  .card
    img(src='/images/shoe 2.jpg' alt='Shoe')
  .card
    img(src='images/shoe 3.jpg' alt='Shoe')
  .card
    img(src='/images/shoe 3.jpg' alt='Shoe')
  .card
    img(src='/images/shoe 4.jpg' alt='Shoe')
  .card
    img(src='/images/timber 1.jpg' alt='Timber')
  .card
    img(src='/images/timber 2.jpg' alt='Timber')
  .card
    img(src='/images/timber 3.jpeg' alt='Timber')
  .card
    img(src='/images/timber 4.jpeg' alt='Timber')
footer
  p &copy; 2025 Mayondo Wood &amp; Furniture Ltd
script(src='/js/script.js')
