doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Inventory | Mayondo Wood & Furniture
    link(rel='stylesheet' href='/CSS/style.css')
  body
    header
      h1 Inventory
      nav
        ul.nav-links
          li
            a(href='/admin-dashboard') Dashboard
          li
            a(href='/add-product') Add Products
          li
            a(href='/sales') Sales
          li
            a(href='/stock') Stock
          li
            a(href='/logout') Logout
    main.inventory-page
      h2 Available Products
      table
        thead
          tr
            th Product Name
            th Type
            th Cost Price
            th Sale Price
            th Quantity
            th Supplier
            th Date Added
            th Action
        tbody#inventoryBody
          //- Existing static rows will be replaced by JS dynamically
      //- .add-btn
      //-   button.btn(onclick="window.location.href='add-product.html'") &#x2795; Add New Product
    footer
      p &copy; 2025 Mayondo Wood & Furniture Ltd
    script(src='/js/inventory.js')
    script(src='/js/script.js')
