doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Manager Dashboard | Mayondo Wood &amp; Furniture
  link(rel='stylesheet' href='/public/CSS/style.css')
header
  h1 Manager Dashboard
  nav
    ul.nav-links
      li
        a(href='inventory.html') Inventory
      li
        a(href='add-product.html') Add Products
      li
        a(href='sales.html') Sales
      li
        a(href='stock.html') Stock
      li
        a(href='logout.html') Logout
main.dashboard
  h2 Welcome, Manager
  p Use the navigation menu to manage products, sales, and stock.
footer
  p &copy; 2025 Mayondo Wood &amp; Furniture Ltd
