doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Register | Mayondo Wood &amp; Furniture
  link(rel='stylesheet' href='/CSS/style.css')
header
  h1 Mayondo Wood &amp; Furniture
  p Create an account
main.form-container
  .form-box
    h2 Register
    form(action='/register' method='post')
      label(for='regName') Full Name:
      input#regName(type='text' name='fullname' required='')
      label(for='regEmail') Email:
      input#regEmail(type='email' name='email' required='')
      label(for='regPassword') Password:
      input#regPassword(type='password' name='passward' required='')
      label(for='regRole') Role:
      select#regRole(required='' name='role')
        option(value='') --Select Role--
        option(value='admin') Administrator
        option(value='manager') Manager
        option(value='attendant') Attendant
      form(onsubmit='registerAndRedirect(); return false;')
        button.btn(type='submit' name='submit') Register
      p
        | Already have an account? 
        a(href='/login') Login here
footer
  p &copy; 2025 Mayondo Wood &amp; Furniture Ltd
script(src='/js/register.js')
